* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #000;
    color: #fff;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 13%;
    background: transparent;
    transition: all ease .50s;
    z-index: 1000;
}

.logo {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

.nav-list-top {
    display: flex;
}

.nav-list-top a{
    margin: 0 30px;
    padding: 2px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    border-bottom: 2px solid transparent;
    transition: all ease .50s;
    text-decoration: none;

    
}

.nav-list-top a:hover {
    border-bottom: 2px solid #fff;
}

.nav-list-top a.active {
    border-bottom: 2px solid #fff;
}

.right-nav {
    display: flex;
    align-items: center;
}

.h-btn {
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #f5dca8;
    line-height: 1.5;
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    border-radius: 30px;
    margin-right: 20px;
    transition: all ease .50s;
}

.h-btn:hover {
    transform: scale(1.06);
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
}

#menu-icon {
    font-size: 42px;
    z-index: 10001;
    cursor: pointer;
    display: none;
}

section {
    padding: 0 13%;;
}

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background: url(../img/ps5-bg.avif);
    background-position: center;
    background-size: cover;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    transition: backdrop-filter 0.5s ease-in-out;
}

.hero:hover::before {
    backdrop-filter: blur(0); 
}

.container {
    padding-top: 250px;
}



.container h1 {
    font-size: 100px;
    margin: 0px 0px 30px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'Permanent Marker', cursive;
}

.container h3 {
    font-size: 18px;
    font-weight: 600;
}

.container p{
    width: 500px;
    max-width: 100%;
    line-height: 2;
    font-size: 15px;
    margin-bottom: 50px;
}

.container a{
    display: inline-block;
    color: #000;
    background-color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    line-height: 1.5;
    border-radius: 30px;
    font-size: 14px;
    font-weight: 500;
    transition: all ease .50s;
    text-decoration: none;
}

.container a:hover {
    transform: scale(1.05);
    color: #fff;
    background: transparent;
    border: 1px solid #f5dca8;
}

.container a.cta {
    border: 1px solid #f5dca8;
    color: #fff;
    background: transparent;
    margin-left: 20px;
    transition: all ease .50s;
}

.container a.cta:hover {
    color: #000;
    background: #fff;
    background: 1px solid #fff;
}

.container a.cta i {
    margin-right: 8px;
}

.social {
    position: absolute;
    bottom: 5%;
    left: 13%;
}

.social i {
    display: inline-block;
    color: #f5dcac;
    margin-right: 22px;
    font-size: 24px;
    transition: all ease .50s;
}

.social i:hover {
    color: #fff;
    transform: translateY(-5px);
}

@media (max-width: 1450px) {
    header {
        padding: 17px 8%;
    }
    section {
        padding: 0 8%;
    }
    .social {
        left: 8%;
    }
    .container {
        padding-top: 230px;
    }
}


@media (max-width: 1100px) {
    .container h1 {
        font-size: 80px;
        margin: 0px 0px 25px;
    }
    .container p {
        margin-bottom: 30px;
    }
}

@media (max-width: 950px) {
    header {
        padding: 17px 5%;
    }
    section {
        padding: 0 5%;
    }
    .social {
        left: 5%;
    }
}

@media (max-width: 860px) {
    #menu-icon {
        display: block;
    }
    .nav-list-top{
        position: absolute;
        width: 100%;
        height: 100vh;
        padding: 50px 50px;
        top: 0;
        right: 0;
        left: 100%;
        bottom: 0;
        display: flex;
        flex-direction: column;
        background: #db9c1c;
        transition: all ease .50s;
    }
    .nav-list-top a{
        display: block;
        padding: 0px;
        margin: 0px 0px 0px 0px;
        font-size: 2.1rem;
        font-weight: 400;
        color: #f5dcac;
        border-bottom: none;
    }
    .nav-list-top a.active {
        border-bottom: none;
        color: #fff;
    }
    .nav-list-top a:hover {
        border-bottom: none;
        color: #fff;
    }
    .nav-list-top.open {
        left: 0;
    }
}


@media (max-width: 535px) {
    .container h1 {
        font-size: 70px;
    }
}